@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    @apply font-sans;
} */

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
/* .fox-transition class? */

/* BUTTON SIZE */
.adda_btn-sm {
    @apply px-4;
    @apply py-1;
    @apply text-sm;
}

.adda_btn-md {
    @apply px-6;
    @apply py-2;
}

.adda_btn-lg {
    @apply px-8;
    @apply py-3;
    @apply text-lg;
}

/* BUTTON VARIANT */
.adda_btn-filled {
    @apply border-2;
}
.adda_btn-outlined {
    @apply border-2;
}
.adda_btn-text {
    @apply  bg-white/50 hover:bg-teal-100/50 dark:bg-teal-500/30 hover:dark:bg-teal-500/40;
}

/* BUTTON COLOUR */
.adda_btn-teal.adda_btn-filled:not(.disabled) {
    @apply border-teal-500 bg-teal-500 text-white hover:text-teal-500 hover:bg-white;
}
.adda_btn-teal.adda_btn-outlined:not(.disabled) {
    @apply border-teal-500 bg-white text-teal-500 hover:text-white hover:bg-teal-500;
}

.adda_btn-cyan.adda_btn-filled:not(.disabled) {
    @apply border-cyan-500 bg-cyan-500 text-white hover:text-cyan-500 hover:bg-white;
}
.adda_btn-cyan.adda_btn-outlined:not(.disabled) {
    @apply border-cyan-500 bg-white text-cyan-500 hover:text-white hover:bg-cyan-500;
}

.adda_btn-red.adda_btn-filled:not(.disabled) {
    @apply border-red-500 bg-red-500 text-white hover:text-red-500 hover:bg-white;
}
.adda_btn-red.adda_btn-outlined:not(.disabled) {
    @apply border-red-500 bg-white text-red-500 hover:text-white hover:bg-red-500;
}

.adda_btn-gray.adda_btn-filled:not(.disabled) {
    @apply border-gray-500 bg-gray-500 text-white hover:text-gray-500 hover:bg-white;
}
.adda_btn-gray.adda_btn-outlined:not(.disabled) {
    @apply border-gray-500 bg-white text-gray-500 hover:text-white hover:bg-gray-500;
}

.adda_btn-orange.adda_btn-filled:not(.disabled) {
    @apply border-orange-500 bg-orange-500 text-white hover:text-orange-500 hover:bg-white;
}
.adda_btn-orange.adda_btn-outlined:not(.disabled) {
    @apply border-orange-500 bg-white text-orange-500 hover:text-white hover:bg-orange-500;
}

.adda_btn-primary.adda_btn-filled:not(.disabled) {
    @apply border-teal-500 text-white bg-teal-500 hover:bg-white hover:text-teal-500 hover:border-teal-500 active:bg-teal-100;
}
.adda_btn-secondary.adda_btn-outlined:not(.disabled) {
    @apply border-teal-500 text-teal-500 bg-white hover:bg-teal-500 hover:text-white active:bg-teal-600;
}
.adda_btn-error.adda_btn-outlined:not(.disabled) {
    @apply border-red-500 text-red-500 bg-white hover:bg-red-500 hover:text-white active:bg-red-500;
}
.adda_btn-success.adda_btn-outlined:not(.disabled) {
    @apply border-green-500 text-green-500 bg-white hover:bg-green-500 hover:text-white active:bg-green-300;
}

/* INPUT TYPES */
.adda_input {
    @apply cursor-pointer h-14 py-3 flex px-4 justify-center border-2 border-teal-100 focus:border-teal-500 mt-2 text-sm lg:text-base font-light;
}

.adda_input-text
/* , input[type="text"]  */
{
    @apply rounded-lg border-2 border-teal-100 focus:border-teal-500;
}
.adda_input-email
/* , input[type="email"]  */
{
    @apply rounded-lg border-2 border-teal-100 focus:border-teal-500;
}
.adda_input-tel
/* , input[type="tel"]  */
{
    @apply rounded-lg border-2 border-teal-100 focus:border-teal-500;
}
.adda_input-password
/* , input[type="password"]  */
{
    @apply rounded-lg border-2 border-teal-100 focus:border-teal-500;
}
.adda_input-date
/* , input[type="date"]  */
{
    @apply rounded-lg border-2 border-teal-100 focus:border-teal-500;
}
.adda_input-time
/* , input[type="time"]  */
{
    @apply rounded-lg border-2 border-teal-100 focus:border-teal-500;
}
.adda_input-color
/* , input[type="color"]  */
{
    @apply p-1 rounded-lg border-2 border-teal-100 focus:border-teal-500;
}

.adda_select
/* , select  */
{
    @apply rounded-lg border-2 border-teal-100 focus:border-teal-500;
}

/* TOGGLE */
.toggle-checkbox:checked {
    @apply: right-0 border-jade-500;
    right: 0;
    border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-jade-500;
    background-color: #68D391;
}